<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ProjectFirst</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="879365">  <td>19/05/15 12:19:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Handling_DropDowns.pageElements()[pri:0, instance:com.qa.test.Handling_DropDowns@35851384]">pageElements</td> 
  <td>main@2083562754</td>   <td></td> </tr>
<tr bgcolor="d3a17d">  <td>19/05/15 12:19:10</td>   <td>-6373</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.qa.test.Handling_DropDowns@35851384]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2083562754</td>   <td></td> </tr>
</table>
