<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WaypalsRegressionTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WplLoginPageTest.setUp()[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:22</td>   <td>4762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WplLoginPageTest.LoginPageTitleTest()[pri:1, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">LoginPageTitleTest</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:22</td>   <td>4917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WplLoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:24</td>   <td>7494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WplLoginPageTest.setUp()[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:28</td>   <td>11353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WplLoginPageTest.LoginPageLogoTest()[pri:2, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">LoginPageLogoTest</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:28</td>   <td>11434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WplLoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:32</td>   <td>15419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WplLoginPageTest.setUp()[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:36</td>   <td>19380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WplLoginPageTest.End_UserLoginTest(java.lang.String, java.lang.String)[pri:3, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">End_UserLoginTest</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:39</td>   <td>21893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WplLoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:41</td>   <td>24491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WplLoginPageTest.setUp()[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:45</td>   <td>28549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WplLoginPageTest.End_UserLoginTest(java.lang.String, java.lang.String)[pri:3, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">End_UserLoginTest</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:48</td>   <td>31014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WplLoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:51</td>   <td>33597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WplLoginPageTest.setUp()[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:55</td>   <td>37637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WplLoginPageTest.End_UserLoginTest(java.lang.String, java.lang.String)[pri:3, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">End_UserLoginTest</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:02:57</td>   <td>40146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WplLoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:03:00</td>   <td>42728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WplLoginPageTest.setUp()[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:03:04</td>   <td>47072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WplLoginPageTest.End_UserLoginTest(java.lang.String, java.lang.String)[pri:3, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">End_UserLoginTest</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:03:07</td>   <td>49660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WplLoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:03:09</td>   <td>52265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WplLoginPageTest.setUp()[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:03:13</td>   <td>56149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WplLoginPageTest.End_UserLoginTest(java.lang.String, java.lang.String)[pri:3, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">End_UserLoginTest</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/05/22 16:03:16</td>   <td>58686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WplLoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.wpl.qa.test.WplLoginPageTest@239963d8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
</table>
